{% extends 'base.html'%}
{% load static %}
{% block title %} CRM | Log In {% endblock %}

{% block content %}
 <!-- Login Form -->
  <div class="container my-5">    
    <div class="row justify-content-center ">
      <div class="col-lg-5 col-md-6 col-sm-6 my-3  ">
        <div class="card shadow">
          
          <div class="card-title border-bottom">
            <h3 class="p-3">CRM Portal – Σύνδεση Χρήστη</h3>
          </div>
          
          <div class="card-body">
            <form method="post" action="{% url 'login' %}" class="p-3">
              {% csrf_token %}
                {% for field in form %}
                  <div class="mb-5">
                    
                      <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    
                    
                    <p >
                    {{ field }}
                    </p>
                  </div>
                  {% if form.errors %}
                    {% for error in field.errors %}
                    {{ error|escape }}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
                  <input type="hidden" name="next" value="{{ next }}" />
                  <i class="btn btn-dark m-0 bi bi-door-open me-0"></i>
                  <input type="submit" value="Είσοδος Χρήστη" class="btn ms-0  btn-primary">
                  
                </input>
              </form>
          </div>


        </div>
      </div>
    </div>
  </div>
  <!-- widgets -->
  
{% endblock %}