{% load note_extras %}
{% load status_state %}

<div class="container-fluid container_color pb-2 mt-3 mb-3 ">
    <div class="row gy-2 shadow-sm p-1 mb-5 rounded ">   
        {% for note in notes %}
            <div class="col-lg-6 col-md-12 col-sm-12  ">
                <div class="card mb-3 h-100 hover-pop formNote_color bg-gradient">
                    <div class="card-body">
                        <div class="row p-2">                    
                            <div class="col-lg-12">                                
                                <h5 class="card-title">                                    
                                    <span class="badge badge-sm {{ note.status|status_clas }} "> </span>
                                    {{ note.contact }}
                                    <em class="status_text">
                                        {{ note.status|safe }}
                                    </em>                                    
                                </h5>                                
                            </div>
                        </div>
                        
                        <h6 class="card-subtitle ">                            
                            <em>{{ note.user.first_name }} - {{ note.created|date:"d/m/Y H:i" }}</em>
                            <span class="badge bg-gradient p-2 ms-2 label_color ">
                                {{ note.subject }}
                            </span>
                            <span class="badge p-2 bg-gradient label_color">
                                {{ note.method }}
                            </span>                            
                            {% if note.user == request.user %}

                                <a class="btn btn-sm
                                detail_color fw-bold bg-gradient"
                                    href="{{ note.get_absolute_url }}">
                                    <i class="bi bi-pencil-square"></i>
                                        <em>{{ note.shortcode }}</em>
                                </a>                    
                                    
                            {% endif %}              
                        </h6>                        
                        <ol class="card-text ">
                            {% for sentence in note.summary|split_sentences %}
                                <li>{{ sentence }}.</li>
                            {% empty %}
                                <em>Χωρίς περίληψη</em>
                            {% endfor %}
                        </ol>                             
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="alert alert-info">Δεν υπάρχουν σημειώσεις.</div>
        {% endfor %}  
    </div>
</div>