{% load note_extras %}
{% load status_state %}

<div class="container-fluid container_color pb-2 mt-3 mb-3 ">
    <div class="row gy-2 shadow-sm p-1 mb-5 rounded ">   
        {% for note in notes %}
            <div class="col-lg-6 col-md-12 col-sm-12  ">
                <div class="card  mb-3 h-100 hover-pop formNote_color bg-gradient">
                    <div class="card-body  "
                    >
                        <div class="row p-2">                    
                            <div class="col-lg-12">
                                
                                <h5 class="card-title  d-flex justify-content-between align-items-center">                                    
                                    {{ note.contact }}
                                    <span class="badge bg-gradient badge-sm rounded rounded-3  {{ note.status|status_clas }}">
                                {{ note.status|status_icon|safe }} {{ note.status }}
                                </span>
                                </h5>                                
                            </div>
                        </div>
                        
                        <h6 class="card-subtitle my-2">
                            
                            <em>{{ note.user.first_name }} - {{ note.created|date:"d/m/Y H:i" }}</em>
                            <span class="badge bg-gradient p-2 ms-2 bg-success ">
                                {{ note.subject }}
                            </span>
                            <span class="badge p-2 bg-gradient bg-gradient bg-success ">
                                {{ note.method }}
                            </span>                            
                            {% if note.user == request.user %}

                                <a class="btn btn-sm
                                btn-primary fw-bold bg-gradient rounded-3"
                                    href="{{ note.get_absolute_url }}">
                                    <i class="bi bi-pencil-square"></i>
                                        <em>{{ note.shortcode }}</em>
                                </a>                    
                                    
                            {% endif %}              
                        </h6>                        
                        <ol class="card-text ">
                            {% for sentence in note.summary|split_sentences %}
                                <li>{{ sentence }}.</li>
                            {% empty %}
                                <em>Χωρίς περίληψη</em>
                            {% endfor %}
                        </ol>                             
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="alert alert-info">Δεν υπάρχουν σημειώσεις.</div>
        {% endfor %}  
    </div>
</div>