:root {
  --breadcrumb-divider: '>'; 

    /* Accent Colors */
  --red-color: #DE6C83;
  --yellow-color: #FCFF6C;
  --green-color: #00A878;
  --blue-color: #6C91C2;
  
/* 
  --main-color: #f5f5f5; 
  --navbar-text: #EFECCA;
  --button-color: #e0e0e0; 
  --form-note-color: #f5f5f5;

  --breadcrumb-color: #2b2b2b;
  --text-color: #111111; 
  --navbar-color: #121212;  */

  /* Dark */
  
  --main-color: #202030; 
  --navbar-text: #5D737E;
  --button-color: #5D737E;   
  --form-note-color: #202030; 

  --breadcrumb-color: #CAD2C5;
  --text-color: #F8F4F9;  
  --navbar-color: #F8F4F9; 

  /* off_button */
  --off-button:var(--red-color);
  /* labels */
   
  --label-color: var(--text-color);

  /* status */
  --status-open: var(--green-color);
  --status-close:var(--red-color);
  --status-on:var(--yellow-color);
  --status-text-color:var(--text-color);
  /* Buttons */
  --create-bg-color: var(--button-color);
  --create-bg-color-hover:var(--green-color);
  --create-color: var(--navbar-color);
  --create-color-hover: var(--main-color);
  
  --filter-bg-color: var(--button-color);
  --filter-bg-color-hover: var(--blue-color);
  --filter-color:  var(--navbar-color);
  --filter-color-hover: var(--main-color);

  --detail-bg-color: var(--button-color);
  --detail-bg-color-hover: var(--yellow-color);
  --detail-color:  var(--navbar-color);
  --detail-color-hover: var(--navbar-text);
}


.status_text { 
  border-radius: 1rem;
  padding: 2px;
  font-size: .7em;  
}

.open_class{
  border: 1px solid;
  background-color: var(--status-open);
  color: var(--status-text-color);
  border-radius: 5rem;
  padding: .5rem;
}
.close_class{
  border: 1px solid;
  background-color: var(--status-close);
  color: var(--status-text-color);
  border-radius: 5rem;
  padding: .5rem;
}
.on_class{
  border: 1px solid;
  background-color: var(--status-on);
  color: var(--status-text-color);
  border-radius: 5rem;
  padding: .5rem;

}

.input_style{
  border-radius: 1em;
}

.label_color{
  color: var(--label-color);
  background-color: var(--label-bg-color);
  border-radius: 1em;
  border: 1px solid;
}

.detail_color{
  background-color: var(--filter-bg-color);
  color:var(--filter-color);
  border-radius: 1em;
  border: 1px solid;
  
}


.detail_color:hover{
  background-color: var(--detail-bg-color-hover);
  color:var(--detail-color-hover);
  transition: ease-in-out .2s;
}
.off_button{
  background-color: var(--off-button);
  color: var(--create-color);
  border-radius: 1em;
  border: 1px solid;
}

.off_button:hover{
  background-color: var(--create-bg-color);
  color:var(--breadcrumb-color);
  transition: ease-in-out .2s;
}


.create_color {
  background-color: var(--create-bg-color);
  color:var(--create-color);
  border-radius: 1em;
  border: 1px solid;
}

.filter_color{
  background-color: var(--filter-bg-color);
  color:var(--filter-color);
  border-radius: 1em;
  border: 1px solid;
  
}

.create_color:hover{

  background-color: var(--create-bg-color-hover);
  color:var(--create-color-hover);
  transition: ease-in-out .2s;
}

.filter_color:hover{
  background-color: var( --filter-bg-color-hover);
  color:var(--filter-color-hover);
  transition: ease-in-out 0.3s;
  
}

.link-theme {
  background-color: var(--form-note-color);
  color:var(--text-color);
  border: 1px solid;
  border-radius: 1rem;
  
}

.link-theme:hover {
  background-color: var(--container-color);
  color:var(--span-color);
}
.navbar_color {
  background-color: var(--navbar-color);
  
}
.navbar_link{
color:var(--navbar-text)
}
.navbar_link:hover{
color:var(--blue-color)
}

.main_color {
  background-color: var(--main-color);
}

.container_color {
  /* background-color: var(--container-color); */
  border-radius: 1.5rem; /* or any value you want, e.g. 8px */
}

.formNote_color {
  color: var(--text-color);
  background-color: var(--form-note-color);
      border-radius: 1.5rem; /* or any value you want, e.g. 8px */
}
.breadcr {
  --bs-breadcrumb-divider: var(--breadcrumb-divider);
  color: var(--breadcrumb-color);
}
.link_color{
  background-color: var(--form-note-color);
  color: var(--container-color);
}

/* Pop over effect */
.hover-pop {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-pop:hover,
.hover-pop:focus,
.hover-pop:focus-within {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  z-index: 10;
  outline: none; /* optional: remove outline */
}

/* Admin Cards */
.fixed-badge {
    display: inline-block;
    background-color: var(--form-note-color);
    color: var(--text-color);
    min-width: 4.5em;
    text-align: center;
    font-variant-numeric: tabular-nums; /* Makes digits align better */
}