<div class="row">
    <div class="col-8">
        {% if contact_to_update %}                  
            <nav class="breadcr" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a  class="text-light" href="#">
                        Δημιουργήθηκε</a></li>
                    <li class="breadcrumb-item">
                        {{ contact_to_update.created }}</li>

                    <li class="breadcrumb-item" aria-current="page">
                        Ανανεώθηκε</li>
                    <li class="breadcrumb-item">
                        {{ contact_to_update.updated }}</li>
                </ol>
            </nav>                
        {% endif %}            
    </div>
    <div class="col-4 text-end">
        {% if contact_to_update %}
        <form method="post" class="mb-1" action="#">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Διαγραφή</button>
        </form>                        
    {% endif %}
    </div>            
</div>