{% extends "base.html" %}
{% load note_extras %}

{% block title %} Ημερολόγιο Επικοινωνίας {% endblock %}

{% block content %}
    <!-- APP -->
    <div class="container my-4">
        <!-- Page Header --> {% include 'notes/header.html' with note_to_update=note_to_update %}
        <!-- Modal --> {% include 'components/contact_form.html' with form=contact_form %}
        <!-- Messages --> {% include 'components/messages.html' with messages=messages %}
        <!-- Δημιουργία Σημείωσης --> {% include 'notes/create.html' with form=form %}
        <!-- Λίστα Σημειώσεων --> {% include 'notes/list.html' with notes=notes %}
        <!-- Πλοήγηση Σελίδων --> 
         {% if is_paginated %}
            <nav>
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">&laquo; Πρώτη</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Προηγούμενη</a>
                        </li>
                    {% endif %}
                    <li class="page-item disabled"><a class="page-link">Σελίδα {{ page_obj.number }} από {{ page_obj.paginator.num_pages }}</a></li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Επόμενη</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Τελευταία &raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}