{% extends "base.html" %}

{% block title %} Σημειώσεις {% endblock %}

{% block content %}

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" 
                    class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
    <!-- APP -->
    <div class="container my-4">
        <div class="row">
            <h2 class="mb-4">Επικοινωνια Πελατών</h2>
        </div>

        <!-- Δημιουργία Σημείωσης -->
        <div class="container shadow p-4 mb-5 bg-body  text-dark border rounded rounded-3 ">               
            <form method="post" class="row g-3">
                {% csrf_token %}
                <div class="col-md-4">
                    {{ form.subject.label_tag }}
                    <span class="badge bg-primary mb-2">8</span>
                    {{ form.subject }}
                </div>
                <div class="col-md-4">
                    {{ form.method.label_tag }} 
                    <span class="badge bg-primary mb-2">5</span>
                    {{ form.method }}
                </div>
                <div class="col-4">
                    {{ form.status.label_tag }}
                    <span class="badge bg-primary mb-2">3</span>
                    {{ form.status }}

                </div>
                
                <div class="col-md-6">
                    {{ form.customer.label_tag }} 
                    <button type="button" class="ms-3 btn btn-xs btn-outline-success"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Νεος 
                    </button> {{ form.customer }}                
                </div>
                <div class="col-12">
                    {{ form.summary.label_tag }} {{ form.summary }}
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-lg btn-outline-success">
                        Προσθήκη Σημείωσης
                    </button>
                </div>
            </form>
        </div>
    
        <!-- Αναζήτηση Σημείωσης -->
         <div class="container my-3">
            <div class="row g-1 align-items-center justify-content-end">
                <div class="col-6 align-self-end">
                    <form method="get" class="row g-1 align-items-center justify-content-end">
                        <div class="col-4 align-self-end">
                            <select class="form-select" name="method" 
                                    aria-label="Τρόπος Επικοινωνίας">
                                <option value="" selected>Επικοινωνία</option>
                                <option value="ΤΗΛΕΦΩΝΟ">Τηλέφωνο</option>
                                <option value="ΑΥΤΟΠΡΟΣΩΠΑ">Αυτοπροσώπα</option>
                                <option value="EMAIL">Email</option>
                                <option value="ΕΓΓΡΑΦΟ">Έγγραφο</option>
                                <option value="ΑΛΛΟ">Άλλο</option>
                            </select>
                        </div> 
                        <div class="col-4 align-self-end">
                            <select class="form-select" name="status" 
                                    aria-label="Κατάσταση">
                                <option value="" selected>Κατάσταση</option>
                                <option value="ΑΝΟΙΧΤΟ">Ανοιχτό</option>
                                <option value="ΣΕ_ΕΞΕΛΙΞΗ">Σε εξέλιξη</option>
                                <option value="ΚΛΕΙΣΤΟ">Κλειστό</option>
                            </select>
                        </div>
                        <div class="col-auto align-self-end">
                            <button type="submit" class="btn btn-outline-dark">Φίλτρο</button>
                        </div>
                    </form>
                </div>
                <div class="col-6 align-self-end">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                        <button class="btn btn-outline-dark me-2" type="submit">Search</button>
                    </form>
                </div>            
            </div>
        </div>

        <!-- Λίστα Σημειώσεων -->
        <div class="container bg-dark bg-gradient pb-4">
            <div class="row g-2">   
                {% for note in notes %}
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card  mb-3 h-100 ">
                            <div class="card-body ">
                                <div class="row pb-2">                    
                                    <div class="col-md-6">
                                        <h5 class="card-title">{{ note.customer }}</h5>
                                    </div>
                                    <div class="col-md-6 text-end ">
                                        <a class="btn btn-outline-secondary rounded-3" href="#">  
                                            <i class="bi bi-pencil-square"></i> Ενημερωση</a>
                                    </div>
                                </div>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    {{ note.user.first_name }} - {{ note.created|date:"d/m/Y H:i" }}   
                                    <span class="badge bg-primary bg-gradient p-2">{{ note.subject }}</span>
                                    <span class="badge bg-dark bg-gradient p-2">{{ note.method }}</span>
                                    <span class="badge bg-gradient p-2 
                                                {% if note.status == 'Ανοιχτό' %}bg-success
                                                {% elif note.status == 'Κλειστό' %}bg-secondary
                                                {% elif note.status == 'Σε Εξέλιξη' %}bg-warning text-dark
                                                {% else %}bg-danger
                                                {% endif %}">
                                        {{ note.status }}
                                    </span>
                                    
                                </h6>
                                <p class="card-text p-3">
                                    {{ note.summary|default:"<em>Χωρίς περίληψη</em>"|safe }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="alert alert-info">Δεν υπάρχουν σημειώσεις.</div>
                {% endfor %}  
            </div>
        </div>
    
        <!-- Πλοήγηση Σελίδων -->
        {% if is_paginated %}
            <nav>
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">&laquo; Πρώτη</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Προηγούμενη</a>
                        </li>
                    {% endif %}
                    <li class="page-item disabled"><a class="page-link">Σελίδα {{ page_obj.number }} από {{ page_obj.paginator.num_pages }}</a></li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Επόμενη</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Τελευταία &raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>

{% endblock %}