<form method="post" action="{% url 'notes:contact-create' %}">
    {% csrf_token %}
      <div class="container">
        
        <div class="row g-2">
            <div class="d-grid">
                {{ form.first_name }}
            </div>
            <div class="d-grid">
                {{ form.last_name }}
            </div>
            <div class="d-grid">
                {{ form.father_name }}
            </div>
            <div class="d-grid">
                {{ form.phone_number }}
            </div>

            <div class="d-grid">
                {{ form.tin_number }}
            </div>

            <div class="d-grid">
                {{ form.summary }}
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Αποθήκευση</button>
            </div>
        </div>
      </div>
</form>