  <footer class="mt-auto {% if user.is_authenticated %}{% else %}fixed-bottom {% endif %}">
  <div class="container text-dark">
    <div class="row">

      <div class="col-md-3 mb-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Χρήστες
              <span class="badge rounded-pill bg-dark">
                {% if user.is_authenticated %}{{user_count}}
                {% else %} 0 {% endif %}
              </span>
            </h5>

          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Επαφές
              <span class="badge rounded-pill bg-dark">
                {% if user.is_authenticated %}{{ customer_count }}
                {% else %} 0 {% endif %}
              </span>
            </h5>

          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card" >
          <div class="card-body text-center">
            <h5 class="card-title">Σημειώσεις
              <span class="badge rounded-pill bg-dark">
                {% if user.is_authenticated %} {{ note_count }}
                {% else %} 0 {% endif %}
              </span>
            </h5>

          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <h5>Follow Us</h5>
        <ul class="list-inline social-icons">
          <li class="list-inline-item"><a href="#" ><i class="bi bi-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#" ><i class="bi bi-youtube"></i></a></li>
          <li class="list-inline-item"><a href="#" ><i class="bi bi-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <hr class="mb-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; 2025 steriospydev. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>