  <footer class="mt-auto {% if user.is_authenticated %}{% else %}fixed-bottom {% endif %}">
  <div class="container text-dark">
    <div class="row">

      <div class="col-md-12 mb-3 text-center">
        <h5>Follow Us</h5>
        <ul class="list-inline social-icons">
          <li class="list-inline-item"><a href="#" ><i class="bi bi-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#" ><i class="bi bi-youtube"></i></a></li>
          <li class="list-inline-item"><a href="#" ><i class="bi bi-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <hr class="mb-6">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; 2025 steriospydev. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>