{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-gradient" 
style="background-color:#423E37;" >
  <div class="container p-2">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'notes:index' %}">
      <img src="{% static 'images/logo.png' %}"
       alt="" width="60" height="34"
       class="d-inline-block align-text-top rounded me-2  rounded-circle">

      {% if user.is_authenticated %}{{user.first_name}} {{ user.last_name}}{% else %}CRM{% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mx-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" 
          href="{% url 'notes:index' %}">ΣΗΜΕΙΩΣΕΙΣ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ΕΠΑΦΕΣ</a>
        </li>        
        {% endif %}
      </ul>
        {% if user.is_authenticated %}
     
          <form method="post" action="{% url 'logout' %}">
             {% csrf_token %}
             <button type="submit" class="btn btn-danger">Αποσύνδεση, {{user.username}}</button>
          </form>
        
        {% endif %}

    </div>
  </div>
</nav>

